
/* big containers start */
header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 35vw;
    height: 10vh;
    background: var(--primaryColor);
    border-bottom: 3px solid green;
    border-right: 3px outset #ccc;
}

main {
    position: absolute;
    top: 0;
    left: 35vw;
    width: 65vw;
    height: 100vh;
    overflow: auto;
    box-shadow: 0px 0px 3px black inset;
}

aside {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 35vw;
    height: 90vh;
    border-right: 3px outset #ccc;
    background: #ccc;
}
/* big containers end */


/* filhos do header start */
header img {
    
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #ccc;
    margin: 9px 15px;
    width: 12%;
    height: 75%;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}

header nav input[type="button"] {
    font-size: var(--fontMedium);
    font-weight: bolder;
    padding: 0px 15px;
    cursor: pointer;
}

/* filhos do header end */

/* filhos do main start */

main .itemLista {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 95%;
    margin: 25px auto;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ccc;
    background-color: var(--buttonColor);
}

main .itemLista:first-child {
    margin-top: 15px;
}

main .itemLista p {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    padding-left: 15px;
    font-size: var(--fontMedium);
    color: black;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #fff;
}

main .itemLista span:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding-left: 15px;
    font-size: var(--fontSmall);
    color: black;
    font-weight: 500;
    text-shadow: 0px 0px 3px #fff;
}

main .itemLista span:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: var(--fontSmall);
    color: black;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #fff;
}

/* filhos do main end */



/* filhos do aside start */

#fecha-aside {
    display: none;
}

.meus-dados {
    width: 90%;

    margin: 15px auto;

}

.meus-dados label {
    display: block;

    width: 100%;
    padding-left: 5px;
}

.meus-dados label p {
    padding-left: 5px;
    font-size: var(--fontSmall);
    font-weight: bolder;
}

.meus-dados label input {
    font-size: var(--fontMedium);
    font-weight: bolder;
    width: 80%;
    padding: 5px 15px;
    border-radius: 24px;
    border-width: 0px 0px 3px 0px;
    outline: none;
}

.botao {
    font-size: var(--fontMedium);
    margin: 15px;
    padding: 5px 15px;
}


/* filhos aside end */



/* Aqui começa as configs responsivas */

@media only screen and (max-width: 600px) {

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 15vh;
        background: var(--primaryColor);
        border-bottom: 3px solid green;
        box-shadow: 3px 0px 8px black;
    }

    main {
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100vw;
        height: 85vh;
    }
    
    aside {
        display: none;
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100vw;
        height: 85vh;
    }

    header img {
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 8px #ccc;
        margin: 9px 15px;
        width: 20%;
        height: 75%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
    }
    
    header nav input[type="button"] {
        font-size: var(--fontMedium);
        font-weight: bolder;
        padding: 0px 15px;
        cursor: pointer;
    }

    #fecha-aside {
        display: block;
    }

}